/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%;}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #111;
  margin: 0;
  padding: 0;
  color:#fff;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #FF0000; text-decoration: none; }
a:visited { color: #205caa; }

/* Utility */

.center {
  margin:auto;
  text-align: center;
}

.caption {
  font-size:13px;
}

#copyright .link a {
  color:#666;
  font-size:12px;
}

#copyright .link a:hover {
  color:#333;
}

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

#logo {
  position: relative;
  z-index: 3;
}

#header {
  position: relative;
  margin:auto;
  text-align:center;
  background: #6d6d6d;
  background: #333;
  background: #6d6d6d;
  height: 600px;
  background: -webkit-linear-gradient(top, #6d6d6d 0%, #333 100%);
  background: -linear-gradient(top, #6d6d6d 0%, #333 100%);
  background: -moz-linear-gradient(top, #6d6d6d 0%, #333 100%);
  border-bottom: 10px solid #000;
}

#tree {
  position:absolute;
  z-index: 2;
}

#content {
  min-height:300px;
  _height: 300px;
  z-index: 2;
  margin:auto;
  background: -webkit-linear-gradient(top, #330000 0%, #111 100%);
  background: -linear-gradient(top, #330000 0%, #111 100%);
  background: -moz-linear-gradient(top, #330000 0%, #111 100%);
}

#address {
  position: relative;
  z-index: 2;
  padding:10px;
  font-size: 40px;
  font-weight: bold;
  text-align:center;
}

#time {
  position: relative;
  z-index: 3;
  padding:10px;
  font-size: 30px;
  text-align:center;
}

#tix {
  position: relative;
  z-index: 3;
  padding:10px;
  font-size: 40px;
  text-align:center;
  font-weight:bold;
}
#photos {
  font-size:16px;
  font-weight:normal;
}

#lightning {
  position: absolute;
  height: 600px;
  width:100%;
  z-index: 1;
}

#footer {
  position: relative;
  z-index: 2;
  text-align:center;
  padding-top:30px;
  padding-bottom:10px;
  color:#888;
  background:#111;
}

#summary {
  position: relative;
  z-index: 2;
  width:900px;
  padding:30px;
  z-index:3;
  margin:auto;
  border-radius: 10px;
  text-align: justify;
}

#tombstone {
  left:26%;
  bottom: -400px;
  margin: auto;
  text-align:center;
  position: absolute;
  z-index: 1;
}

#map {
  margin:auto;
  width:800px;
  position: relative;
  z-index:1;
  padding:20px;
}

#info {
  position: relative;
  z-index:3;
}

#content a {color:#FF2200;}
#content a:hover {color:#fff;}

#summary a {color: #aaa;}

#map-link {
  font-size:12px;
  font-weight: normal;
}

h1 {
  font-size:48px;
  font-weight: bold;
  border-bottom: 1px solid #666;
  margin-bottom: 30px;
}

#press {
  padding-top:40px;
  width:700px;
  margin:auto;
  text-align:center;
}

#press ul li {
  list-style: none;
  list-style-type: none;
}

#press .headline {
  font-weight: bold;
}

#press .headline a { font-size: 120%}
#press .headline a:hover {color:#aaa;}

#press a:hover {color:#fff;}

.center { text-align: center;}

#donation {
  float:left;
  padding:10px;
}
