/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%;}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #111;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #FF0000; text-decoration: none; }
a:visited { color: #205caa; }

/* Utility */

.center {
  margin:auto;
  text-align: center;
}

.caption {
  font-size:13px;
}

#copyright .link a {
  color:#666;
  font-size:12px;
}

#copyright .link a:hover {
  color:#333;
}

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

#logo {
  position: relative;
  z-index: 3;
}

#header {
  position: relative;
  margin:auto;
  text-align:center;
  background: #6d6d6d;
  background: #333;
  background: #6d6d6d;
  height: 600px;
  background: -webkit-linear-gradient(top, #6d6d6d 0%, #333 100%);
  background: -linear-gradient(top, #6d6d6d 0%, #333 100%);
  background: -moz-linear-gradient(top, #6d6d6d 0%, #333 100%);
  border-bottom: 10px solid #000;
}

#tree {
  position:absolute;
  z-index: 2;
}

#content {
  min-height:300px;
  _height: 300px;
  color:#fff;
  margin:auto;
  background: -webkit-linear-gradient(top, #330000 0%, #111 100%);
  background: -linear-gradient(top, #330000 0%, #111 100%);
  background: -moz-linear-gradient(top, #330000 0%, #111 100%);
}

#address {
  padding:10px;
  font-size: 35px;
  font-weight: bold;
  text-align:center;
}

#time {
  padding:10px;
  font-size: 20px;
  text-align:center;
}

#tix {
  padding:10px;
  font-size: 20px;
  text-align:center;
}

#lightning {
  position: absolute;
  height: 600px;
  width:100%;
  z-index: 1;
}

#footer {
  text-align:center;
  padding-top:30px;
  padding-bottom:10px;
  color:#fff;
  background:#111;
}
